.container {
    width: 100%;
    padding: 20px 20px 82px 20px;
    margin: 0 auto;

    @include tel {
        width: 320px;
    }

    @include tab {
        width: 768px;
        padding: 60px 32px 101px 32px;
    }

    @include desk {
        width: 1280px;
        padding-bottom: 120px;
    }
}