@mixin tel {
    @media screen and (min-width: 320px) {
        @content;
    }
}

@mixin tab {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desk {
    @media screen and (min-width: 1280px) {
        @content;
    }
}