// :root {
// }

$mob: 320px;
$tab: 768px;
$desk: 1280px;

$mob-max-width: 767px;

//colors
$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$accent-color: #FF6B08;
$accent-hover-color: #FF6B08;
$logo-color: #818181;

// font
$primary-font: 'Roboto', sans-serif;
