// :root {
// }

$mob: 320px;
$tab: 768px;
$desk: 1280px;

$mob-max-width: 767px;

//colors
$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$accent-color: #ff6b08;
$accent-hover-color: #ff6b08;
$logo-color: #818181;

$white-text-color: #ffffff;



// font
$primary-font: 'Roboto', sans-serif;

$cubic: cubic-bezier(0.465, 0.183, 0.153, 0.946);

// Переходы и анимация
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);