<div class="container">
    <div class="filter">
        <p class="text">В тренде</p>
        <div class="selector">
            <div class="selector-wrap">
                <div class="anchor selected">
                    <h3>
                        <a href="#" class="no_click" data-panel="trending_scroller" data-group="today">Today</a>
                    </h3>
                    <div class="background"></div>
                </div>
                <div class="anchor">
                    <h3>
                        <a href="#" class="no_click" data-panel="trending_scroller" data-group="week">Week</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>