<!-- modal-input  visually-hidden-->
<div id="auth-modal" class="backdrop firebase-backdrop">
  <!-- <div id="user-login" class="modal firebase-modal">
    <button id="close-backdrop" class="firebase-btn-close" data-dismiss="modal">
      <svg
        class="icon"
        width="30"
        height="30"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="m8 8 14 14M8 22 22 8" stroke-width="2" />
      </svg>
    </button>
    <p class="title">to log in enter your email and password</p>
    <div class="firebase-container"></div>
    <form
      id="login-form"
      class="firebase-form"
      action="firebase-form-user-login"
    >
      <label for="email">enter valid email: </label>
      <input type="email" name="email" required />
      <br />
      <label for="password">enter password (min 6 symbols): </label>
      <input type="password" name="password" minlength="6" required />
      <br />
      <br />
      <button type="submit" id="fire" value="log">go!</button>
      <p id="login-error"></p>
    </form>
  </div> -->
  <!--  -->
  <!-- <div id="user-login">
    <button id="close-backdrop" type="button">cancel</button>
    <br /><br />
    <p class="title">to log in enter your email and password</p>
    <form id="login-form">
      <label for="email">enter valid email: </label>
      <input type="email" name="email" required />
      <br />
      <label for="email">enter password (min 6 symbols): </label>
      <input type="password" name="password" minlength="6" required />
      <br /><br />
      <button type="submit" id="fire" value="log">go!</button>
      <p id="login-error"></p>
    </form>
  </div> -->
  <!--  -->
  <!-- <div id="user-register">
    <button id="close-backdrop" type="button">cancel</button>
    <br /><br />
    <p class="title">WRITE your email and password</p>
    <form id="signup-form">
      <label for="email">enter valid email: </label>
      <input type="email" name="email" required />
      <br />
      <label for="email">enter password (min 6 symbols): </label>
      <input type="password" name="password" minlength="6" required />
      <br /><br />
      <button type="submit" id="fire" value="reg">go!</button>
      <p id="login-error"></p>
    </form>
  </div> -->
  <!-- <div class="fbs-backdrop">
    <button id="close-backdrop" type="button" class="fbs-mob-menu-close-btn">
      <svg
        class="menu-btn__icon"
        width="40"
        height="40"
        aria-label="Выключение мобильного меню"
      >
        <use
          class="menu-btn__icon--close"
          href="/src/images/symbol-defs.svg#icon-close"
        ></use>
      </svg>
    </button>
    <div class="fbs-outer">
      <div class="fbs-middle">
        <div class="fbs-inner">
          <div class="fbs-login-wr">
            <div class="fbs-logo"></div>

            <div class="fbs-form">
              <input type="text" placeholder="Пользователь" />
              <input type="password" placeholder="Пароль" />
              <a href="#"> <p>У вас нет аккаунта? Регистрация</p></a>
              <button>Авторизация</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!--  -->
  <!-- <div id="range5">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <div class="login-wr">
            <h2>Вход</h2>
            <div class="form">
              <input type="text" placeholder="Пользователь" />
              <input type="password" placeholder="Пароль" />
              <button>Вход</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
