<footer class="footer">
  <div class="container">
    <div class="footer__section">
      <div class="social">
        <p class="social__text">follow</p>

        <ul class="social__list">
          <li class="social__item">
            <a
              class="social__link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              rel="noreferrer noopener nofollow"
              aria-label="Instagram"
            >
              <svg class="social__icon" width="25" height="25">
                <use href="./images/symbol-defs.svg#instagram"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a
              class="social__link"
              href="https://twitter.com/goitclub"
              target="_blank"
              rel="noreferrer noopener nofollow"
              aria-label="Twitter"
            >
              <svg class="social__icon" width="25" height="25">
                <use href="./images/symbol-defs.svg#twitter"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a
              class="social__link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              rel="noreferrer noopener nofollow"
              aria-label="Facebook"
            >
              <svg class="social__icon" width="25" height="25">
                <use href="./images/symbol-defs.svg#facebook"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a
              class="social__link"
              href="https://goit.ua/"
              target="_blank"
              rel="noreferrer noopener nofollow"
              aria-label="Google+"
            >
              <svg class="social__icon" width="25" height="25">
                <use href="./images/symbol-defs.svg#google-plus"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a
              class="social__link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              rel="noreferrer noopener nofollow"
              aria-label="YouTube"
            >
              <svg class="social__icon" width="30" height="30">
                <use href="./images/symbol-defs.svg#youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__copyright">
        <p class="footer__text">© 2022 | All Rights Reserved |</p>
        <p>
          Developed with<span class="footer__heart">&#129505;</span>by
          <a href="" class="footer__link" data-event="false">GoIT Students</a>
        </p>
      </div>

      <div class="app">
        <p class="app__text">Download</p>

        <ul class="app__list">
          <li class="app__item">
            <a
              class="app__link"
              href="https://www.apple.com/ua/app-store/"
              target="_blank"
              rel="noreferrer noopener nofollow"
              aria-label="App Store"
            >
              <svg class="app__icon" width="35" height="30">
                <use href="./images/symbol-defs.svg#app-store"></use>
              </svg>
            </a>
          </li>

          <li class="app__item">
            <a
              class="app__link"
              href="https://play.google.com/"
              target="_blank"
              rel="noreferrer noopener nofollow"
              aria-label="Google Play"
            >
              <svg class="app__icon" width="35" height="25">
                <use href="./images/symbol-defs.svg#google-play"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
