<header class="header header--library">
  <div class="header__container">
    <div class="header__section">
      <nav class="header__nav">
        <a class="header__logo" href="././index.html">
          <svg class="header__logo-icon" width="32" height="32">
            <use href="./././images/symbol-defs.svg#icon-film"></use>
          </svg>
          <span class="header__logo-name">Filmoteka</span>
        </a>

        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a class="header__nav-btn" href="././index.html">Home</a>
          </li>
          <li class="header__nav-item">
            <a
              class="header__nav-btn header__nav-item--active"
              href="././my-library.html"
              >My library</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <div class="library-btn">
      <ul class="library-btn-list">
        <li class="library-btn-list__item">
          <button class="library__item-btn" type="button" data-action="watched">
            WATCHED
          </button>
        </li>
        <li class="library-btn-list__item">
          <button class="library__item-btn" type="button" data-action="queue">
            QUEUE
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>
