<header class="header header--library">
  <div class="header__container">
    <div class="header__section">
      <nav class="header__nav">
        <a class="header__logo" href="././index.html">
          <svg class="header__logo-icon" width="32" height="32">
            <use href="./././images/symbol-defs.svg#icon-film"></use>
          </svg>
          <span class="header__logo-name">Filmoteka</span>
        </a>
        <button type="button" class="header-mob-menu-open-btn">
          <svg
            class="menu-btn__icon"
            aria-label="Включение моб. меню heder"
            width="32"
            height="32"
          >
            <use href="./././images/symbol-defs.svg#icon-menu"></use>
          </svg>
        </button>

        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a class="header__nav-btn" href="././index.html">Home</a>
          </li>
          <li class="header__nav-item">
            <a
              class="header__nav-btn header__nav-item--active"
              href="././my-library.html"
              >My library</a
            >
          </li>
          <li class="header__nav-item">
            <a class="header__nav-btn" href="././newsfeed.html">Newsfeed</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="library-btn">
      <ul class="library-btn-list">
        <li class="library-btn-list__item">
          <button class="library__item-btn" type="button" data-action="watched">
            WATCHED
          </button>
        </li>
        <li class="library-btn-list__item">
          <button class="library__item-btn" type="button" data-action="queue">
            QUEUE
          </button>
        </li>
      </ul>
    </div>
  </div>

  <div class="header-mob-menu visually-hidden">
    <div class="container mob-menu-container">
      <div class="mob-menu-top">
        <button type="button" class="header-mob-menu-close-btn">
          <svg
            class="menu-btn__icon"
            width="40"
            height="40"
            aria-label="Выключение мобильного меню"
          >
            <use
              class="menu-btn__icon--close"
              href="./images/symbol-defs.svg#icon-close"
            ></use>
          </svg>
        </button>
        <ul class="mob-menu-list list">
          <li class="mob-menu__item">
            <a href="././index.html" class="mob-menu__link">Home</a>
          </li>
          <li class="mob-menu__item">
            <a
              href="././my-library.html"
              class="mob-menu__link mob-menu__link--current"
              >My library</a
            >
          </li>
          <li class="mob-menu__item">
            <a href="././newsfeed.html" class="mob-menu__link">Newsfeed</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
