<section class="section main">
  <h2 class="title visually-hidden">Home</h2>
  <div class="container">
      <h2 class="upcoming-title">Upcoming</h2>
      <div class="slider">
        <div class="glide">
          <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
              <!-- <li class="glide__slide"> <img src="./images/team/Viktor.jpg" width="auto" max-height="150px" alt="Viktor" /></li>
              <li class="glide__slide"> <img src="./images/team/Artem.jpg" width="auto" max-height="150px" alt="Viktor" /></li>
              <li class="glide__slide"> <img src="./images/team/Denys.jpg" width="auto" max-height="150px" alt="Viktor" /></li>
              <li class="glide__slide"> <img src="./images/team/Dmitry.jpg" width="auto" max-height="150px" alt="Viktor" /></li>
              <li class="glide__slide"> <img src="./images/team/Nataliya.jpg" width="auto" max-height="150px" alt="Viktor" /></li>
              <li class="glide__slide"> <img src="./images/team/Serhey.jpg" width="auto" max-height="150px" alt="Viktor" /></li>
              <li class="glide__slide"> <img src="./images/team/Svitlana.jpg" width="auto" max-height="150px" alt="Viktor" /></li>
              <li class="glide__slide"> <img src="./images/team/Yevhenii.jpg" width="auto" max-height="150px" alt="Viktor" /></li> -->
            </ul>
            <div class="glide__arrows" data-glide-el="controls">
              <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
              <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
            </div>
          </div>
        </div>
      </div>
    <div class="filter">
      <p class="text">Trending</p>
      <div class="selector-wrap">
        <div class="selector">
          <div class="anchor">
            <h3 class="title">
              <button class="no-click" data-panel="trending_scroller" data-group="today">Today</button>
            </h3>
            <div class="background__filter to-right"></div>
          </div>
          <div class="anchor selected">
            <h3 class="title">
              <button class="no-click" data-panel="trending_scroller" data-group="week">This Week</button>
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="to-trending">
      <button class="to-trending__button is-hidden">        
        <svg class = "icon-arrow" width="14" height="14">
          <use href="./images/symbol-defs.svg#icon-arrow">
        </svg>
        Back to Trending
      </button>
    </div>
    <ul data-point="galery" class="gallery"></ul>
  </div>
</section>
