<section class="section">
    <h2 class="title visually-hidden">Home</h2>
    <div class="container">
        <ul class="gallery">
            <li>
                <a class="gallery__link" href="">
                    <img class="gallery__image" src="#" alt="" loading="lazy" />
                </a>
                <div class="info">
                    <p class="info__item">Name</p>
                    <div class="info-detail">
                        <p class="info-detail__item">Genres</p>
                        <p class="info-detail__item">Year</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>