<!-- Modal -->
<div class="backdrop-team backdrop-team--is-hidden">
  <div class="modal-team">
    <button type="button" class="modal-team__close-btn">
      <svg class="modal-team__close-icon" width="30" height="30">
        <use href="./././images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <h1 class="team__name">delightful team</h1>
    <ul class="team">
      <li class="team__item">
        <div class="img-wrapper">
          <img class="team__img" src="./images/kitty.jfif" alt="" />
        </div>
        <a
          target="_blank"
          rel="noopener noreferrer nofollow"
          href="https://www.linkedin.com/in/yevhenii-kobets-900796239/"
          class="team__link"
        >
          <svg class="team__icon team__icon--linkedin" width="18" height="18">
            <use href="./././images/symbol-defs.svg#icon-linkedin"></use>
          </svg>
        </a>
        <a
          target="_blank"
          rel="noopener noreferrer nofollow"
          href="https://github.com/eugene17kotov"
          class="team__link"
        >
          <svg class="team__icon team__icon--github" width="18" height="18">
            <use href="./././images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
        <div class="team__text-content">
          <p class="team__member">Yevhenii</p>
          <p class="team__role">Team Lead</p>
        </div>
      </li>
      <li class="team__item">
        <div class="img-wrapper">
          <img class="team__img" src="./images/kitty.jfif" alt="" />
        </div>

        <a
          target="_blank"
          rel="noopener noreferrer nofollow"
          href="https://www.linkedin.com/in/dmitry-knyagnitskiy-711b55209/"
          class="team__link"
        >
          <svg class="team__icon team__icon--linkedin" width="18" height="18">
            <use href="./././images/symbol-defs.svg#icon-linkedin"></use>
          </svg>
        </a>
        <a
          target="_blank"
          rel="noopener noreferrer nofollow"
          href="https://github.com/dimak911"
          class="team__link"
        >
          <svg class="team__icon team__icon--github" width="18" height="18">
            <use href="./././images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
        <div class="team__text-content">
          <p class="team__member">Dmitry</p>
          <p class="team__role">Scrum</p>
        </div>
      </li>
      <li class="team__item">
        <div class="img-wrapper">
          <img class="team__img" src="./images/kitty.jfif" alt="" />
        </div>

        <a
          target="_blank"
          rel="noopener noreferrer nofollow"
          href="https://www.linkedin.com/in/sergey-smirnov-9123a623b/"
          class="team__link"
        >
          <svg class="team__icon team__icon--linkedin" width="18" height="18">
            <use href="./././images/symbol-defs.svg#icon-linkedin"></use>
          </svg>
        </a>
        <a
          target="_blank"
          rel="noopener noreferrer nofollow"
          href="https://github.com/morysol"
          class="team__link"
        >
          <svg class="team__icon team__icon--github" width="18" height="18">
            <use href="./././images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
        <div class="team__text-content">
          <p class="team__member">Serhiy</p>
          <p class="team__role">Developer</p>
        </div>
      </li>
      <li class="team__item">
        <div class="img-wrapper">
          <img class="team__img" src="./images/kitty.jfif" alt="" />
        </div>

        <a
          target="_blank"
          rel="noopener noreferrer nofollow"
          href="https://www.linkedin.com/in/svitlana-chudesa-55273a21a/"
          class="team__link"
        >
          <svg class="team__icon team__icon--linkedin" width="18" height="18">
            <use href="./././images/symbol-defs.svg#icon-linkedin"></use>
          </svg>
        </a>
        <a
          target="_blank"
          rel="noopener noreferrer nofollow"
          href="https://github.com/veta41"
          class="team__link"
        >
          <svg class="team__icon team__icon--github" width="18" height="18">
            <use href="./././images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
        <div class="team__text-content">
          <p class="team__member">Svitlana</p>
          <p class="team__role">Developer</p>
        </div>
      </li>
      <li class="team__item">
        <div class="img-wrapper">
          <img class="team__img" src="./images/kitty.jfif" alt="" />
        </div>

        <a
          target="_blank"
          rel="noopener noreferrer nofollow"
          href="https://www.linkedin.com/in/natalia-bubnova-9366061b9/"
          class="team__link"
        >
          <svg class="team__icon team__icon--linkedin" width="18" height="18">
            <use href="./././images/symbol-defs.svg#icon-linkedin"></use>
          </svg>
        </a>
        <a
          target="_blank"
          rel="noopener noreferrer nofollow"
          href="https://github.com/Natalia7777777"
          class="team__link"
        >
          <svg class="team__icon team__icon--github" width="18" height="18">
            <use href="./././images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
        <div class="team__text-content">
          <p class="team__member">Nataliya</p>
          <p class="team__role">Developer</p>
        </div>
      </li>
      <li class="team__item">
        <div class="img-wrapper">
          <img class="team__img" src="./images/kitty.jfif" alt="" />
        </div>

        <a
          target="_blank"
          rel="noopener noreferrer nofollow"
          href="https://www.linkedin.com/in/artem-makhov/"
          class="team__link"
        >
          <svg class="team__icon team__icon--linkedin" width="18" height="18">
            <use href="./././images/symbol-defs.svg#icon-linkedin"></use>
          </svg>
        </a>
        <a
          target="_blank"
          rel="noopener noreferrer nofollow"
          href="https://github.com/ArtemMakhov"
          class="team__link"
        >
          <svg class="team__icon team__icon--github" width="18" height="18">
            <use href="./././images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
        <div class="team__text-content">
          <p class="team__member">Artem</p>
          <p class="team__role">Developer</p>
        </div>
      </li>
      <li class="team__item">
        <div class="img-wrapper">
          <img class="team__img" src="./images/kitty.jfif" alt="" />
        </div>

        <a
          target="_blank"
          rel="noopener noreferrer nofollow"
          href="https://www.linkedin.com/in/valeriia-sopko-511551221/"
          class="team__link"
        >
          <svg class="team__icon team__icon--linkedin" width="18" height="18">
            <use href="./././images/symbol-defs.svg#icon-linkedin"></use>
          </svg>
        </a>
        <a
          target="_blank"
          rel="noopener noreferrer nofollow"
          href="https://github.com/Volika"
          class="team__link"
        >
          <svg class="team__icon team__icon--github" width="18" height="18">
            <use href="./././images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
        <div class="team__text-content">
          <p class="team__member">Valeriya</p>
          <p class="team__role">Developer</p>
        </div>
      </li>
      <li class="team__item">
        <div class="img-wrapper">
          <img class="team__img" src="./images/kitty.jfif" alt="" />
        </div>

        <a
          target="_blank"
          rel="noopener noreferrer nofollow"
          href="https://www.linkedin.com/in/denys-cherneha-020698245/"
          class="team__link"
        >
          <svg class="team__icon team__icon--linkedin" width="18" height="18">
            <use href="./././images/symbol-defs.svg#icon-linkedin"></use>
          </svg>
        </a>
        <a
          target="_blank"
          rel="noopener noreferrer nofollow"
          href="https://github.com/denkach"
          class="team__link"
        >
          <svg class="team__icon team__icon--github" width="18" height="18">
            <use href="./././images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
        <div class="team__text-content">
          <p class="team__member">Denys</p>
          <p class="team__role">Developer</p>
        </div>
      </li>
      <li class="team__item">
        <div class="img-wrapper">
          <img class="team__img" src="./images/kitty.jfif" alt="" />
        </div>

        <a
          target="_blank"
          rel="noopener noreferrer nofollow"
          href="https://www.linkedin.com/in/maria-khmel-b64183226/"
          class="team__link"
        >
          <svg class="team__icon team__icon--linkedin" width="18" height="18">
            <use href="./././images/symbol-defs.svg#icon-linkedin"></use>
          </svg>
        </a>
        <a
          target="_blank"
          rel="noopener noreferrer nofollow"
          href="https://github.com/MariaKhmel"
          class="team__link"
        >
          <svg class="team__icon team__icon--github" width="18" height="18">
            <use href="./././images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
        <div class="team__text-content">
          <p class="team__member">Mariya</p>
          <p class="team__role">Developer</p>
        </div>
      </li>
      <li class="team__item">
        <div class="img-wrapper">
          <img class="team__img" src="./images/kitty.jfif" alt="" />
        </div>

        <a
          target="_blank"
          rel="noopener noreferrer nofollow"
          href="https://www.linkedin.com/in/viktor-radchenko-goit/"
          class="team__link"
        >
          <svg class="team__icon team__icon--linkedin" width="18" height="18">
            <use href="./././images/symbol-defs.svg#icon-linkedin"></use>
          </svg>
        </a>
        <a
          target="_blank"
          rel="noopener noreferrer nofollow"
          href="https://github.com/Victor8825"
          class="team__link"
        >
          <svg class="team__icon team__icon--github" width="18" height="18">
            <use href="./././images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
        <div class="team__text-content">
          <p class="team__member">Viktor</p>
          <p class="team__role">Developer</p>
        </div>
      </li>
    </ul>
  </div>
</div>
