.ad-card {
    pointer-events: none;
}

.ad-card-link {
    position: relative;
}

.ad-card-content-wrapper {
    background-image: radial-gradient(circle farthest-corner at 12.3% 19.3%, rgba(85, 88, 218, 1) 0%, rgba(95, 209, 249, 1) 100.2%);
    max-width: 100%;
}

.ad-title {
    position: absolute;
    top: 5%;
    width: 100%;
    text-align: center;
}

.ad-text {
    margin-bottom: 20px;
}

.ad-number {
    font-size: 25px;
}

.ad-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    width: 70%;
    border-radius: 15%;
    padding: 20px 0;
    text-align: center;
    background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
}