.library-text {
    font-family: Roboto, sans-serif;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 0.01em;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    
    padding-top: 100px;
    padding-bottom: 100px;

    @media screen and (min-width: $tab){
        font-size: 40px;
    }

    @media screen and (min-width: $desk) {
            font-size: 60px;
    }
}

