// Hide Scrollbar

// ::-webkit-scrollbar {
//   width: 0;
// }

body.modal-open {
  overflow: hidden;

  // @media screen and (min-width: 1280px) {
  //   & .main,
  //   .header,
  //   .footer,
  //   .pagination-wrap {
  //     padding-right: 22px;
  //   }
  // }
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 300ms ease-in;

  &:hover {
    background-color: $accent-color;
  }
}

.modal .icon {
  stroke: $primary-text-color;
  transition: stroke linear 200ms;
}

.modal .content {
  @media screen and (min-width: $tab) {
    width: 264px;
  }

  @media screen and (min-width: $desk) {
    width: 391px;
  }
}

.button-close:hover .icon {
  stroke: $bg-color;
}

.image-container {
  width: 240px;
  height: 357px;

  @media screen and (min-width: $tab) {
    width: 264px;
    height: 374px;
    margin-right: 68px;
  }

  @media screen and (min-width: $desk) {
    width: 375px;
    height: 545px;
    margin-right: 16px;
  }
}

.modal .image {
  width: 240px;
  height: 357px;

  border-radius: 25px;
  transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 1000ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  }

  @media screen and (min-width: $tab) {
    width: 264px;
    height: 374px;
  }

  @media screen and (min-width: $desk) {
    width: 375px;
    height: 545px;
  }
}

.movie-backdrop {
  overflow-y: auto;
  z-index: 998;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 1;

  padding: 20px 0;
  width: 100%;
  height: 100%;

  transition: opacity 500ms $cubic, visibility 500ms $cubic,
    background-color 500ms $cubic;
}

.movie-backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  & .modal {
    visibility: hidden;
    pointer-events: none;
    opacity: 0.3;
    transform: translate(-50%, -50%) scale(0.7);
  }
}

.modal {
  position: relative;
  display: flex;
  width: 280px;
  padding: 48px 20px 40px;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  background-color: $bg-color;

  visibility: visible;

  border-radius: 15px;

  transition: transform 500ms $cubic, opacity 500ms $cubic,
    visibility 500ms $cubic;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    width: 704px;
    height: auto;
    max-height: 552px;
    flex-direction: row;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 36px;
  }

  @media screen and (min-width: $desk) {
    width: 806px;
    height: auto;
    max-height: 625px;
    padding-right: 40px;
    padding-left: 20px;
  }
}

.modal .title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;

  @media screen and (min-width: $tab) {
    margin-top: 0;
  }

  @media screen and (min-width: $desk) {
    font-size: 30px;
  }
}

.about .title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 8px;
}

.about .text {
  font-size: 12px;
  font-weight: 500;
  line-height: calc(20 / 12);
}

.modal .properties {
  display: flex;
  padding-bottom: 20px;
}

.modal .property--trailer{
  padding-top: 10px;
}

.modal .titles {
  width: 50%;
}

.modal .property {
  font-size: 12px;
  font-weight: 500;
  color: #8c8c8c;
}

.modal .value {
  font-size: 12px;
  font-weight: 500;
}

.modal .property:not(:last-child),
.modal .value:not(:last-child) {
  margin-bottom: 8px;

  @media screen and (min-width: $desk) {
    margin-bottom: 10px;
  }
}

.modal .buttons {
  margin-top: 20px;
  display: flex;

  @media screen and (min-width: $desk) {
    padding-left: 8px;
  }
}

.buttons .button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  width: 110px;
  height: 44px;
  font-size: 13px;
  font-weight: 500;
  line-height: calc(16 / 12);
  border: none;
  border-radius: 5px;
  background-color: $secondary-text-color;
  border: 1px solid #000000;
  box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6);
  transition: box-shadow 400ms ease-in, color 400ms ease-in,
    background-color 400ms ease-in;

  &:hover,
  &.is-active {
    color: $secondary-text-color;
    background-color: $accent-color;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }

  @media screen and (min-width: $tab) {
    width: 125px;
  }

  @media screen and (min-width: $desk) {
    width: 136px;
  }
}
.buttons .button:nth-child(1) {
  margin-right: 20px;

  @media screen and (min-width: $tab) {
    margin-right: 15px;
  }
}

.modal .first-mark {
  padding: 1px 10px;
  background-color: $accent-color;
  border-radius: 5px;
  color: #f7f7f7;
}

.modal .second-mark {
  padding: 1px 4px;
  // background-color: #f7f7f7;
  border-radius: 5px;
}

.points {
  color: $secondary-text-color;
  background-color: $accent-color;
  padding: 3px 8px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 20px;
  margin-left: 5px;

  font-size: 13px;
  line-height: 1.17;
}
