.gallery,
.library-gallery {
  display: grid;
  grid-auto-columns: 280px;
  grid-auto-rows: 443px;
  grid-row-gap: 20px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  @include tab {
    max-width: 768px;
    grid-template-columns: repeat(2, 336px);
    grid-auto-columns: 336px;
    grid-auto-rows: 495px;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }

  @include desk {
    max-width: 1280px;
    grid-template-columns: repeat(3, 395px);
    grid-auto-columns: 395px;
    grid-auto-rows: 634px;
    grid-column-gap: 16px;
  }


}

.gallery__link {
  position: relative;
  cursor: default;
}

.gallery__image {
  height: 402px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 5px 5px;
  cursor: pointer;

  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.03);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  @include tab {
    height: 455px;
  }

  @include desk {
    height: 574px;
    width: 634px;
  }
}

.info {
  font-style: normal;
  font-weight: 500;
  padding: 8px 0;
  height: 40px;

  @include desk {
    height: 60px;
  }
}

.info__item {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  // color: #000000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: text;

  @include desk {
    font-size: 20px;
    line-height: 1.2;
  }
}

.info-detail {
  display: flex;
  justify-content: start;
  align-items: center;
}

.info-detail__item {
  font-size: 12px;
  line-height: 1.33;
  color: #ff6b08;
  margin-right: 5px;
  margin-top: 5px;
  cursor: text;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  @include desk {
    font-size: 20px;
    line-height: 1.2;
  }
}

.info-detail__item:first-child {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.info-detail__item:not(:first-child) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-detail__item:not(:last-child) {
  border-right: 2px solid #ff6b08;
  padding-right: 5px;
}
