.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 300ms ease-in;

  &:hover {
    background-color: #ff6b01;
  }
}

.modal .icon {
  stroke: #000000;
  transition: stroke linear 200ms;
}

.modal .content {
  @media screen and (min-width: $tab) {
    width: 264px;
  }

  @media screen and (min-width: $desk) {
    width: 391px;
  }
}

.button-close:hover .icon {
  stroke: #fff;
}

.image-container {
  width: 240px;
  height: 357px;

  @media screen and (min-width: $tab) {
    width: 264px;
    height: 374px;
    margin-right: 68px;
  }

  @media screen and (min-width: $desk) {
    width: 375px;
    height: 545px;
    margin-right: 16px;
  }
}

.modal .image {
  width: 240px;
  height: 357px;

  @media screen and (min-width: $tab) {
    width: 264px;
    height: 374px;
    // margin-right: 68px;
  }

  @media screen and (min-width: $desk) {
    width: 375px;
    height: 545px;
    // margin-right: 16px;
  }
}

body {
  &.modal-open {
    overflow: hidden;
  }
}

.movie-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  visibility: visible;
  opacity: 1;
  width: 100vw;
  height: 100vh;

  transition: opacity 350ms ease-in, visibility 350ms ease-in;
}

.movie-backdrop.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.movie-backdrop.is-hidden .movie-modal {
  visibility: hidden;
  pointer-events: none;
  opacity: 0.3;
  transform: translate(-50%, -50%) scale(0.3);
}

.movie-modal {
  display: flex;
  width: 280px;
  height: 95vh;
  overflow-y: auto;
  padding: 48px 20px 40px;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #fff;

  visibility: visible;
  opacity: 1;

  border-radius: 15px;

  transition: transform 400ms ease-in, opacity 400ms ease-in,
    visibility 400ms ease-in;

  @media screen and (min-width: 768px) {
    width: 704px;
    height: auto;
    max-height: 552px;
    flex-direction: row;
    padding-top: 40px;
    padding-right: 72px;
    padding-bottom: 40px;
    padding-left: 36px;
  }

  @media screen and (min-width: $desk) {
    width: 806px;
    height: auto;
    max-height: 625px;
    padding: 40px 12px;
  }
}

.modal .title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;

  @media screen and (min-width: $tab) {
    margin-top: 0;
  }

  @media screen and (min-width: $desk) {
    font-size: 30px;
  }
}

.about .title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 8px;
  color: #000000;
}

.about .text {
  font-size: 12px;
  font-weight: 500;
  color: #000000;
  line-height: calc(20 / 12);
}

.modal .properties {
  display: flex;
}

.modal .titles {
  margin-right: 41px;

  @media screen and (min-width: $desk) {
    margin-right: 85px;
  }
}

.modal .property {
  font-size: 12px;
  font-weight: 500;
  color: #8c8c8c;
}

.modal .value {
  font-size: 12px;
  font-weight: 500;
  color: #000000;
}

.modal .property:not(:last-child),
.modal .value:not(:last-child) {
  margin-bottom: 8px;

  @media screen and (min-width: $desk) {
    margin-bottom: 10px;
  }
}

.modal .buttons {
  margin-top: 20px;
  display: flex;

  @media screen and (min-width: $desk) {
    padding-left: 8px;
  }
}

.buttons .button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  width: 110px;
  height: 44px;
  font-size: 13px;
  font-weight: 500;
  line-height: calc(16 / 12);
  border: none;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #000000;
  transition: color 400ms ease-in, background-color 400ms ease-in;

  &:hover,
  &.is-active {
    color: #fff;
    background-color: #ff6b01;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }

  @media screen and (min-width: $tab) {
    width: 125px;
  }

  @media screen and (min-width: $desk) {
    width: 136px;
  }
}
.buttons .button:nth-child(1) {
  margin-right: 20px;

  @media screen and (min-width: $tab) {
    margin-right: 15px;
  }
}

.modal .first-mark {
  padding: 1px 10px;
  background-color: #ff6b01;
  border-radius: 5px;
  color: #f7f7f7;
}

.modal .second-mark {
  padding: 1px 4px;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.points {
  color: #fff;
  background-color: #ff6b01;
  padding: 3px 8px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 20px;
  margin-left: 5px;

  font-size: 13px;
  line-height: 1.17;
}

// .js-modal {
// }
