.gallery {
    display: grid;
    max-width: 320px;
    grid-auto-columns: 280px;
    grid-auto-rows: 402px;
    grid-row-gap: 61px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    @include tab {
        padding: 60px 0;
        max-width: 768px;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-columns: 336px;
        grid-auto-rows: 455px;
        grid-column-gap: 32px;
        grid-row-gap: 71px;
    }

    @include desk {
        max-width: 1280px;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-columns: 395px;
        grid-auto-rows: 574px;
        grid-column-gap: 16px;
        grid-row-gap: 92px;
    }
}

.gallery__link {
    position: relative;
}

.gallery__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.info {
    padding: 8px;
    height: 60px;
}

.info-item {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    color: #000000;

    @include desk {
        font-size: 20px;
        line-height: 1.2;
    }
}

.info-detail {
    display: flex;
    justify-content: start;
    align-items: center;
}

.info-detail__item {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #FF6B08;
    margin-right: 5px;

    @include desk {
        font-size: 20px;
        line-height: 1.2;
    }
}

.info-detail__item:not(:last-child) {
    border-right: 2px solid #FF6B08;
    padding-right: 5px;
}