.newsfeed-header-section {
    margin-bottom: 50px;
}

.newsfeed-heading {
    color: white;
    text-align: center;
    font-size: 20px;

    @include tab {
        font-size: 28px;
    }

    @include desk {
        font-size: 32px;
    }
}

.newsfeed {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;

    @include tab {
        grid-template-columns: repeat(2, 1fr);
    }

    @include desk {
        grid-template-columns: repeat(3, 1fr);
    }
}

.news-item-image {
    margin-bottom: 15px;
}

.news-item-title {
    margin-bottom: 10px;
}

.news-item-description {
    margin-bottom: 5px;
}

.news-item-content {
    margin-bottom: 10px;
}

.news-item-btn {
    display: block;
    margin-bottom: 20px;
}