.pagination-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px 40px;

  @include tab {
    padding: 0 0 60px;
  }
}

.pagination-button {
  padding: 13px 11px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  border-radius: 5px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.pagination-button:not(:last-child) {
  margin-right: 8px;
}

.dots {
  margin-right: 16px;
}

.pagination-button--current {
  padding: 13px 11px;
  width: 40px;
  height: 40px;
  background-color: #ff6b08;
  color: #ffffff;
  // border-radius: 5px;
}

.dots,
.first-button,
.last-button {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.arrow-left {
  background-image: url(../icons/arrow-left.svg);
}

.arrow-right {
  background-image: url(../icons/arrow-right.svg);
}

.arrow-left,
.arrow-right {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #f7f7f7;
  background-position: center;
  background-repeat: no-repeat;
}
