.slider {
margin-bottom: 20px;
}

.upcoming-title {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 20px;

    @media screen and (min-width: $tab) {
    text-transform: uppercase;
  }

  @media screen and (min-width: $desk) {
    font-size: 1.5em;
    font-weight: 500;
  }
}

.glide__slide-title {
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 1.33;
text-transform: uppercase;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
cursor: text;
padding: 8px 0px;

  @include tab {
  font-size: 14px;
  line-height: 1.2;
  }
}

.glide__slide-text{
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 1.33;
}

.glide__slide-item {
  border-radius: 10px 10px 5px 5px;
  transition: transform .5s cubic-bezier(.4, 0, .2, 1), box-shadow .5s cubic-bezier(.4, 0, .2, 1);
}

.glide__slide-item:hover {
  transform: scale(1.03);
  box-shadow: 0 14px 28px #00000040, 0 10px 10px #00000038;
}

.glide__arrow {
  @include media-max(767px) {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
}




