.backdrop-team {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 998;

  padding: 15px;

  background-color: rgba($color: #000000, $alpha: 0.35);
  visibility: visible;
  opacity: 1;

  transition: opacity 850ms $cubic, visibility 850ms $cubic,
    background-color 850ms $cubic;
}

.backdrop-team--is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;

  & .modal-team {
    visibility: hidden;
    pointer-events: none;
    opacity: 0.3;
    transform: translate(-75%, -90%) scale(3);
  }
}

.modal-team {
  position: relative;

  z-index: 999;
  overflow-y: auto;

  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 15px 20px;
  max-height: 860px;

  @media screen and (min-width: 768px) {
    width: 580px;
  }

  @media screen and (max-width: 1279px) {
    height: 100%;
  }

  @media screen and (min-width: 1280px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    width: 900px;
    padding: 20px 15px 35px;
  }

  visibility: visible;
  opacity: 1;

  background-color: azure;

  border-radius: 15px;

  box-shadow: 0 28px 42px rgba(0, 0, 0, 0.38), 0 20px 20px rgba(0, 0, 0, 0.33);

  transition: transform 600ms $cubic, opacity 600ms $cubic,
    visibility 800ms $cubic, box-shadow 600ms $cubic;
}

.modal-team__close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: color 300ms $cubic;
  color: #000000;

  @media screen and (min-width: 768px) {
    top: 10px;
    right: 10px;
  }

  &:hover {
    color: #ff6b01;
  }
}

.modal-team__close-icon {
  fill: currentColor;
}

.team__name {
  text-align: center;
  text-decoration: underline #ff6b08;
  text-transform: uppercase;
  margin-bottom: 20px;

  font-size: 24px;

  @media screen and (min-width: 768px) {
    font-size: 32px;
  }
}

.team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.team__item {
  position: relative;
  border-radius: 10px;
  padding-bottom: 5px;
  overflow: hidden;

  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.img-wrapper {
  overflow: hidden;
}

.team__img {
  overflow: hidden;
  object-fit: cover;
  border-radius: 10px 10px 0 0;

  margin-bottom: 5px;

  width: 120px;
  height: 120px;

  @media screen and (min-width: 768px) {
    width: 150px;
    height: 150px;
  }

  transition: transform 800ms $cubic;

  .team__item:hover &,
  .team__item:focus & {
    transform: translate(-7%, 12%) scale(1.2);
  }
}

.team__link {
  color: black;
}

.team__icon {
  position: absolute;
  transition: transform $trans-time ease-in;

  fill: currentColor;

  &:hover,
  &:focus {
    transform: scale(1.7);
  }

  &--linkedin {
    @media screen and (max-width: 767px) {
      bottom: 15px;
      left: 7px;
    }

    bottom: 15px;
    left: 13px;
  }

  &--github {
    @media screen and (max-width: 767px) {
      bottom: 15px;
      right: 7px;
    }

    bottom: 15px;
    right: 13px;
  }
}

.team__text-content {
  text-align: center;
  font-size: 11px;
  font-weight: 500;

  @media screen and (min-width: 768px) {
    font-size: 13px;
  }
}

.team__member {
  margin-bottom: 3px;
  font-size: 13px;

  @media screen and (min-width: 768px) {
    margin-bottom: 5px;
    font-size: 16px;
  }
}

.team__role {
  color: #ff6b08;
}
