body.light-theme {
  background-color: $bg-color;
  color: $primary-text-color;
}

footer.light-theme {
  color: #545454;
}

.modal.dark-theme {
  background-color: #4b4a4a;
  color: $secondary-text-color;

  & .content-markup {
    color: $secondary-text-color;
  }

  & .property {
    color: $secondary-text-color;
  }

  & .about {
    color: $secondary-text-color;
  }

  & .button {
    background-color: #9c9898;
    color: $secondary-text-color;
    border: transparent;

    &:hover,
    &.is-active {
      color: $secondary-text-color;
      background-color: $accent-color;
      border: none;
    }
  }

  & .button-close {
    background-color: $bg-color;

    &:hover {
      background-color: $accent-color;
    }
  }
}

body.dark-theme,
footer.dark-theme {
  background-color: #4b4a4a;
  color: $secondary-text-color;

  & .theme-switch__icon.moon {
    color: $accent-color;
  }
  & .theme-switch__icon.sun {
    color: #ffffff;
  }

  & .gallery__image:focus,
  & .gallery__image:hover {
    transform: scale(1.02);
    box-shadow: rgba(243, 103, 9, 0.25) 0px 0.0625em 0.0625em,
      rgba(245, 229, 3, 0.25) 0px 0.125em 0.5em,
      rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }

  & .pagination-button {
    background-color: #696666;
    color: lightgrey;
  }
  & .arrow-right {
    stroke: darkgrey;
  }
  & .pagination--current {
    background-color: $accent-color;
  }

  & .card__title {
    color: $secondary-text-color;
  }

  & .card__text {
    color: $accent-color;
  }
  & .footer-text {
    color: $secondary-text-color;
  }
  & .footer-link:hover {
    color: $accent-color;
  }

  & .pagination-button {
    color: $secondary-text-color;
  }
}

.footer.dark-theme {
  background-color: #0808084d;
}

.modal-team.dark-theme {
  background-color: #4b4a4a;
  color: $secondary-text-color;
  box-shadow: 0px 4px 16px rgba(201, 63, 22, 0.25),
    rgba(17, 17, 26, 0.05) 0px 8px 32px;

  & .image {
    border-radius: 50px;
    transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 1000ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      transform: scale(1);
      box-shadow: 0px 0px 16px rgba(201, 63, 22, 0.25),
        rgba(17, 17, 26, 0.05) 0px 8px 32px;
    }
  }

  & .modal-team__close-btn {
    color: $secondary-text-color;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  & .team__item {
    transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 1000ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      transform: scale(1.05);
      box-shadow: 0px 0px 16px rgba(201, 63, 22, 0.25),
        rgba(17, 17, 26, 0.05) 0px 8px 32px;
    }

    & .team__link {
      color: $secondary-text-color;
    }
  }
}

.theme-switch {
  color: #ffffff;
  position: absolute;
  right: 20px;
  bottom: -40px;
  display: flex;
  align-items: center;

  &.home {
    bottom: -60px;
  }
}

.theme-switch__icon {
  height: 15px;
  width: 15px;
  margin-right: 8px;
  margin-left: 8px;

  &.moon {
    color: #ffffff;
  }

  &.sun {
    color: $accent-color;
  }
}

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 32px;
  height: 18px;
  border-radius: 50em;
  padding: 3px 0;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: rgb(173, 127, 127);
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: $bg-color;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(3px);
  transition: transform 250ms $timing-function;
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: $accent-color;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(17px);
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
  box-shadow: 0 1px 1px transparent;
}

.dark-theme {
  color: lightgrey;
  background-color: #222;
}
